@import 'fonts/fonts';

$font-brsonoma-regular: 'br_sonoma__regular';
$font-brsonoma-medium: 'br_sonoma__medium';
$font-brsonoma-bold: 'br_sonoma__bold';

@mixin textRegular {
    color: #03050F;
    font-family: $font-brsonoma-regular;
    font-weight: 400;
}

@mixin textMedium {
    color: #03050F;
    font-family: $font-brsonoma-medium;
    font-weight: 500;
}

@mixin textBold {
    color: #03050F;
    font-family: $font-brsonoma-bold;
    font-weight: 100;
}