@import "~styles/theme";

.c_radio_card__header {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;

    svg {
        width: 32px;
        height: 32px;
    }

    h5 {
        font-family: "Lato", sans-serif;        
        font-size: 20px;
        font-weight: 900;
        line-height: 28px;
        letter-spacing: -0.20000000298023224px;
    }
}

.c_radio_card__description {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

.c_radio_card__custom {
    position: relative;
    border: 3px solid transparent;
    transition: 0.3s ease-out all;
    &:has(.c_radio_card__radio input:checked) {
        border-color: $color-primary;
    }
}

.c_radio_card__radio {
    cursor: pointer;
}

.c_radio_card__radio input {
    position: absolute;
    opacity: 0;
}

.c_radio_card__marked {
    position: absolute;
    top: 16px;
    right: 24px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid $color-gray-light-500;
}

.c_radio_card__radio input:checked~.c_radio_card__marked {
    background-color: #389E0D;
}

.c_radio_card__marked:after {
    content: "";
    position: absolute;
    display: none;
}

.c_radio_card__radio input:checked~.c_radio_card__marked:after {
    display: block;
    left: 8px;
    top: 4px;
    width: 6px;
    height: 11px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media screen and (width >= $breakpoint-sm) {
    .c_radio_card__header {
        flex-direction: column;
        align-items: flex-start;
        svg {
            width: 48px;
            height: 48px;
        }
    }
}