@import '../../../../utils/styles/theme';

.c_card_resume__prices_title {
    font-family: "Lato", sans-serif;
    font-size: 10px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.800000011920929px;
    margin-bottom: 8px;
}

.c_card_resume {
    padding: 32px 24px;
}

.c_card_resume__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;

    h5 {
        font-family: "Lato", sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.20000000298023224px;
        color: $color-primary;
    }
}

.c_card_resume__user {
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
}

.c_card_resume__user__title {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

.c_card_resume__user__detail {
    @extend .c_card_resume__user__title;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (width >= $breakpoint-sm) {
    
}