@font-face {
    font-display: swap;
    font-family: 'br_sonoma__regular';
    font-style: normal;
    src: url('/public/fonts/BRSonoma-regular.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'br_sonoma__semibold';
    font-style: normal;
    src: url('/public/fonts/BRSonoma-semibold.woff') format('woff');;
}

@font-face {
    font-display: swap;
    font-family: 'br_sonoma__bold';
    font-style: normal;
    src: url('/public/fonts/BRSonoma-bold.woff') format('woff');;
}