.c_back_button {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.c_back_button__button {
    cursor: pointer;
}

.c_back_button__theme_blue {
    .c_back_button__button {
        border: 2px solid #4F4FFF;
        svg {
            stroke: #4F4FFF;
        }
        path {
            fill: #4F4FFF;
        }
    }
    .c_back_button__label {
        color: #4F4FFF
    }
}

.c_back_button__theme_gray {
    .c_back_button__button {
        border: 2px solid #A9AFD9;
        svg {
            stroke: #A9AFD9;
        }
        path {
            fill: #A9AFD9;
        }
    }
    .c_back_button__label {
        color: #A9AFD9
    }
}

.c_back_button__button {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 1px;
    svg {
        width: 10px;
        height: 10px;
        transform: rotate(90deg);
    }
}

.c_back_button__label{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4000000059604645px;
}