@import "~styles/theme";

.c_checkbox__wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.c_checkbox {
    accent-color: #0A051E;
    width: 20px;
    height: 20px;
}

.c_checkbox__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
}

@media screen and (width >= $breakpoint-sm ) {
    .c_checkbox__label {
        font-size: 12px;
    }
}